<ng-container [ngxErrors]="form.get('firstName')!">
  <div ngxError="required">First name is required</div>
</ng-container>

<form [formGroup]="form">
  <label>
    First Name
    <input type="text" formControlName="firstName" />
  </label>

  <pre>
    Dirty: {{ form.controls.firstName.dirty }}
    Touched: {{ form.controls.firstName.touched }}
  </pre>

  <hr />

  <div formGroupName="address">
    <label>
      Street
      <input type="text" formControlName="street" />
    </label>

    <pre>{{ form.get('address.street')?.errors | json }}</pre>

    <div ngxErrors="street">
      <div ngxError="required">Street name is required</div>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>

<hr />

<mat-form-field appearance="fill">
  <mat-label>Name</mat-label>

  <input
    matInput
    [(ngModel)]="name"
    required
    [minlength]="10"
    #nameModel="ngModel"
    autocomplete="off"
  />

  <mat-error [ngxErrors]="nameModel.control">
    <span ngxError="required"> Name is required </span>

    <span ngxError="minlength" showWhen="five">
      Name should be at least 10 chars - FIVE
    </span>

    <span ngxError="minlength">Name should be at least 10 chars - DIMA</span>
  </mat-error>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Name</mat-label>

  <input matInput value="Input without ngModel" required autocomplete="off" />
</mat-form-field>
