<form [formGroup]="form">
  <label>
    First Name
    <input type="text" formControlName="firstName" />
  </label>

  <pre>
    Dirty: {{ form.controls.firstName.dirty }}
    Touched: {{ form.controls.firstName.touched }}
  </pre>

  <div ngxErrors="firstName">
    <div ngxError="required" showWhen="touched">First name is required</div>
  </div>

  <div formGroupName="address">
    <label>
      Street
      <input type="text" formControlName="street" />
    </label>

    <pre>{{ form.get('address.street')?.errors | json }}</pre>

    <div ngxErrors="street">
      <div ngxError="required">Street name is required</div>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
